@page
@model Vanir.Website.Pages.ContactUsModel
@{


    
}

<section class="Vision">
	<div class="container">
		<div class="Headings">	
			<h1 class="section-title">Contact us</h1>
			<p>Send us an email at <a target="_blank" href="mailto:contact@vanir.gg">contact@vanir.gg</a></p>
		</div>
	</div>
</section>	