@page
@model Vanir.Website.Pages.Course2022Model
@{
}


<section class="Vision">
	<div class="container center">
		<div class="Headings width-75 center">
			<h1 class="section-title">Sunnere gaming med Vanir</h1>
			<p class="display-mobile">
				Se under bildet for påmelding
			</p>
			<div class="custom-flex">
				<figure>
					<img src="~/images/healthygamingweb.png" alt="vanir inviterer til foredrag om fysisk og mental trening for gamere" />
				</figure>
				<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfLWT_503yHqRcHJ-2rc7Oh5biPDg2bdgu9jk6uOgWIaclvXw/viewform?embedded=true" height="950" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
			</div>

			</div>
		</div>
</section>	
