@page
@model ExtShopModel
@{
    ViewData["Title"] = "Shop";
}

@* @section styles{
    <link rel="stylesheet" href="~/css/shop.css" asp-append-version="true" />
} *@
@section scripts{
    <script src="~/js/shop.js" asp-append-version="true"></script>
}

<section class="Partnerships">
	<div class="container">
		<div id="loader" style="text-align:center">
            <figure >
                <img src="/images/Loading.gif" style="max-width:90%" alt="vanir logo in loading animation" />
            </figure>
        </div>
        <div id='collection-component-1656931334858'>

        </div>
	</div>
</section>	


