@page
@model Vanir.Website.Pages.PersonDetailsModel
@{
}
<section class="Intro">
	<div class="container">
		<div class="Headings">	

			Work in progres...
			@if(Model.Person != null)
			{
				@*<h1 class="section-title">@Model.Article.Title</h1>*@

			}
			
		</div>
	</div>
</section>	