@page "/team/{slug:required}"
@using Sanity.Linq.Extensions
@using Vanir.Website.Models
@using Vanir.Website.Services
@using Vanir.Website.Components
@model Vanir.Website.Pages.TeamDetailsModel
@{

    var socialIconDict = new Dictionary<SocialMediaType, string>()
    {
        {SocialMediaType.FACEBOOK, "fa-facebook"},
        {SocialMediaType.INSTAGRAM, "fa-instagram"},
        {SocialMediaType.TWITCH, "fa-twitch"},
        {SocialMediaType.TWITTER, "fa-twitter"},
        {SocialMediaType.LINKEDIN, "fa-linkedin"},
        {SocialMediaType.YOUTUBE, "fa-youtube"},
        {SocialMediaType.MAIL, "fa-mail"}
    };
}

<section class="Vision">
	<div class="container">
		<div class="Headings">	
			@if(Model.Team != null)
			{
				<h1 class="section-title">@Model.Team.Name</h1>
                <component type="@typeof(PersonListComponent)" param-Persons=@(Model.Team.Members) param-ViewMode=@(EnumerableViewMode.Grid) param-MyContext=@(HttpContext) param-IsDisplayHeader="@(false)" render-mode="Static"/>
			}
		</div>
	</div>
</section>	
